{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {% for message in messages %}
    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="banner" data-aos="zoom-out" data-aos-delay="100" data-aos-duration="2500">
  <img class="banner_background" src="{% static 'images/landing.PNG' %}" alt="">
  <div class="content">
    <h1>School Web</h1>
    <p>Classroom activities turns online.</p>
  </div>
</div>

<div class="cards_section">
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <div class="view view-first" data-aos="fade-left" data-aos-delay="50" data-aos-duration="2500">
        <img src="{% static 'images/card-1.PNG' %}" />
        <div class="mask">
          <h2>Classrooms</h2>
          <p>Create your own classroom and add students and enjoy all the features of classweb. All the classroom activites turned online with classweb makes classroom interaction more simple and interesting.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="view view-first" data-aos="fade-up" data-aos-delay="100" data-aos-duration="2500">
        <img src="{% static 'images/card-2.PNG' %}" />
        <div class="mask">
          <h2>Digital Learning</h2>
          <p>Online education is a flexible instructional delivery system that encompasses any kind of learning that takes place via the Internet. Class Web gives educators an opportunity to reach students who may not be able to enroll in a traditional classroom course and supports students who need to work on their own schedule and at their own pace.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="view view-first" data-aos="fade-right" data-aos-delay="150" data-aos-duration="2500">
        <img src="{% static 'images/card-3.PNG' %}" />
        <div class="mask">
          <h2>Community</h2>
          <p>Learning is not just about teachers and students. Class Web allows you to bring everyone together—students, teachers, coaches, parents, administrators—with one communication and collaboration platform.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax pic">
  <div class="heading">
    Are you ready to advance what's possible in education?
  </div>
</div>

<div class="explain">
  <h2>How To Use</h2>
  <div class="explain_blog left_blog" data-aos="fade-left" data-aos-delay="50" data-aos-duration="2500">
    <div class="blog_img_left">
      <img src="{% static 'images/login.svg' %}" alt="">
    </div>
    <div class="blog_info">
      <h1>Login and Sign Up</h1>
      <p>If you are a teacher or you want to create your own classroom, then Sign up as a teacher. If you are a student and want to get added in a classroom, then Sign Up as student and enjoy our facilities.</p>
    </div>
  </div>
  <div class="explain_blog right_blog" data-aos="fade-right" data-aos-delay="50" data-aos-duration="2500">
    <div class="blog_info right_info">
      <h1>Create your Classroom.</h1>
      <p>As a teacher create your own classroom and add your students. Upload assignments, course materails, class notice in your classroom and award marks to your students based on their performance.</p>
    </div>
    <div class="blog_img_right">
      <img src="{% static 'images/classroom.svg' %}" alt="">
    </div>
  </div>
  <div class="explain_blog left_blog" data-aos="fade-left" data-aos-delay="50" data-aos-duration="2500">
    <div class="blog_img_left">
      <img src="{% static 'images/assignment.svg' %}" alt="">
    </div>
    <div class="blog_info">
      <h1>Upload Assignments</h1>
      <p>Upload your assignments and give due date to students for their submissions. Collect their submissions online and award them marks according to their work.</p>
    </div>
  </div>
  <div class="explain_blog right_blog" data-aos="fade-right" data-aos-delay="50" data-aos-duration="2500">
    <div class="blog_info right_info">
      <h1>Course Materials</h1>
      <p>Upload your course materials to make learning easy for your students. Your uploaded course materials will be accessible to students in your classroom. Students can download the materials and study easily.</p>
    </div>
    <div class="blog_img_right">
      <img src="{% static 'images/coursematerial.svg' %}" alt="">
    </div>
  </div>
  <div class="explain_blog left_blog" data-aos="fade-left" data-aos-delay="50" data-aos-duration="2500">
    <div class="blog_img_left">
      <img src="{% static 'images/marks.svg' %}" alt="">
    </div>
    <div class="blog_info">
      <h1>Marks Evaluation</h1>
      <p>Award marks to your students based on their academic performance. Marks will be displayed to student login automatically and can be edited later.</p>
    </div>
  </div>
</div>


  <script>
    AOS.init();
  </script>


{% endblock %}
