{% extends 'classroom/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}


{% if messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {% for message in messages %}
    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="login-bg">
  <div class="wrapper">
    <div class="title">Login Form</div>
    <form action="{% url 'classroom:login' %}">
      {% csrf_token %}
      <div class="field">
        <input type="text" name="username" required>
        <label>Username</label>
      </div>
      <div class="field">
        <input type="password" name="password" required>
        <label>Password</label>
      </div>
      <div class="field">
        <input type="submit" value="Login">
      </div>
      <div class="signup-link">
        Not a member? <a href="{% url 'classroom:signup' %}">Signup now</a></div>
      </form>
    </div>
  </div>



{% endblock %}
