<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="login-page">
      <img src="login-background.PNG" alt="">
      <div class="signup">
          <h1>Sign Up</h1>
          <br>
          <a href="{% url 'classroom:StudentSignUp' %}"><p>I'm a Student</p> </a>
          <br>
          <a href="{% url 'classroom:TeacherSignUp' %}"><p>I'm a Teacher</p> </a>
        </div>
    </div>

  </body>
</html>
